/*
 * -----------------------------------------------
 *  Font    : Dirty Enough
 *  Author  : zlxvx
 *  Profile : https://www.1001fonts.com/users/zlx/
 *  Source  : https://www.1001fonts.com/dirty-enough-font.html
 *  License : SIL Open Font License 1.1 (OFL)
 *  Packed  : xJVKEx — xjvkex.lol
 * -----------------------------------------------
 */

@font-face {
  font-family: 'dirty-enough';
  src: url('dirty-enough-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
